@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

:root{
    --border-color: 0px solid #87b619;
    --site-color: #122A57;
    --gdt-cor: linear-gradient(-45deg, #04D939, #025939, #012340)
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
    width: 100%;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    background: var(--gdt-cor);
}

#form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 2px #000;
    padding: 60px;
    width: min-content;
    align-items: center;
    color: var(--site-color);
    animation: starta 1.0s ease-out;
}

.fomr p{
    text-align: center;
}
.title{
    font-size: 1.8em;
    margin-bottom: 10px;
}

.input{
    min-width: 280px;
    border-radius: 22px;
    border: var(--site-color) 2px solid;
    padding: 5px;
    margin: 0 0 12px -5px;
}

.input i{
    font-size: 1.2em;
    padding: 5px;
    /* background: -webkit-linear-gradient(var(--gdt-cor));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.input input{
    width: 80%;
    border: none;
    outline: none;
    font-family: 'Lato', sans-serif;
    transform: translateY(-10%);
    color: var(--site-color);
    font-size: 12pt;
}

#btn{
    margin-top: 10%;
    width: 100%;
    text-align: center;
}

#btn button{
    font-family: 'Lato', sans-serif;
    font-size: 13pt;
    background: var(--gdt-cor);
    border-radius: 10px;
    width: 100%;
    height: 48px;
    border: none;
    color: #fff;
    outline: none;
    cursor: pointer;
}

#btn button:hover{
    background: linear-gradient(-45deg, #012340, #025939, #04D939);
}

@keyframes starta{
    0%{
        top: -20%;
        opacity: 0;
        pointer-events: none;
    }
    100%{
        top: 50%;
        opacity: 100%;
        pointer-events: all;
    }
}